<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.ejs</title>
</head>
<body>
    <h3>My Node App</h3>
    <form method="post" action="/item/add">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Add">
    </form>
    <h4>Items:</h4>
    <ul>
        <% items.forEach(function (item) { %>
            <li>
               <%= item.name %>
            </li>
       <% }); %>
    </ul>
</body>
</html>
